body{
  font-family:arial;
  font-size:14px;
  line-height:18px;
  background:#ECE9D8;
}
.template{
  width:960px;
  margin:0 auto;
}
.clear{
  overflow:hidden;
}
.headsection{
  height:110px;
  background:#404040;
}
.title {
  float: left;
  margin-left: 50px;
  margin-top: 7px;
  width: 430px;
}
.title h2{
  color:#D86225;
  font-size:45px;
}
.extra{
  color:#fff;
}
.mainmenu {
  color: #f26722;
  float: right;
  margin-top: 50px;
  width: 480px;
}
.mainmenu a {
  color: #b9b9b9;
  font-weight: bold;
  text-decoration: none;
  padding-left:8px;
  padding-right:8px;
}
.mainmenu a:hover, #active{
  color:#F26722
}

.mainsection{
  background:#fff;
}
.maintop {
  border-bottom: 2px dotted #ccc;
  margin: 10px 50px;
}
.maintop h2 {
  color: #333;
  font-size: 40px;
}
.maintop h3 {
  color: #a5a5a5;
  font-size: 28px;
}
.content{
  margin: 0 50px;
}

.description {
  text-align: center;
}
.description p {
  color: #666;
  font-size: 23px;
  font-weight: normal;
  line-height: 28px;
}
.midcontent{height:260px;
background: -webkit-linear-gradient(left,  #f26722 1%,#f29160 100%); 
 
}

.midleft {
  float: left;
  margin-right: 35px;
  padding: 20px 40px;
  text-align: center;
  width: 370px;
  color:#fff;
}
.midleft h2 {
  border-bottom: 2px dotted #fff;
  font-size: 30px;
  margin-left: 55px;
  padding-bottom: 30px;
  width: 250px;
}
.midleft p {
  font-size: 15px;
  font-weight: bold;
  line-height: 20px;
}
.midimage{
  float:left;
  width:345px;
}
.midimage img {
  width: 220px;
}
.post {
  border-bottom: 2px dotted #a5a5a5;
  border-top: 2px dotted #a5a5a5;
  margin: 12px 50px 15px;
  padding-bottom: 35px;
  padding-top: 35px;
}
.allpost{
  margin-left:-70px
}
.samearticle {
  float: left;
  margin-left: 70px;
  padding: 5px 15px;
  width: 210px;
  color:#fff;
  text-align:center;
  background: #f29b6f; 
  background: linear-gradient(to bottom,  #f29b6f 2%,#d05a1d 100%);

}
.samearticle h2 {
  border-bottom: 2px dotted #fff;
  font-size: 25px;
  padding-bottom: 20px;
  text-shadow: 0 1px 1px #333;
}

.postlink {
  background:#ECE9D8;
  height: 29px;
  margin-bottom: 20px;
  margin-left: 20px;
  padding-top: 5px;
  width: 170px;
}
.postlink a {
  color: #d66023;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}
.footsection{
  background:#FFFFFF;
}
.footportion {
  color: #777;
  margin: 0 50px 10px 50px;
  text-align: center;
}
.footportion p {
  margin: 0;
}
.footportion a {
  color: #777;
}
.footportion a:hover{
  text-decoration:none;
  color:#D15D20;
}


